# Ignore Python byte code
*.pyc

# Ignore commands.sh as it dynamically created
bin/commands.sh

# Ignore these files and directories:
build/
emulators/BIOS/*.bin
emulators/RetroArch/
emulators/mupen64plus/
images/
log/
roms/

