# Ignore Python byte code
*.pyc

# Ignore tar files
*.tar.xz

# Ignore Python3 cache dirs
*__pycache__

# Ignore commands.sh as it dynamically created
bin/commands.sh
bin/rasum

# Ignore these files and directories:
build/
emulators/
images/
log/
roms/
coverart/
